/*navbar*/
/*default nav links*/
/*
    Gotham
    Light 300 no italic

    Book 400

    Bold 700
*/
p.rsvp_color_text, .rsvp_info_wrap, .map, .map .wrapper p.phone a {
	font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serf;
}

/* from template */
.button.small {
	padding: 3px 5px;
	width: auto;
	min-width: auto;
	max-width: none;
	margin: 5px 0;
	display: inline-block;
}

.ff_composer input[type=radio],
.ff_composer label {
	display: inline-block;
	width: auto;
	border: none;
	box-shadow: none;
}

.ff_composer ul {
	padding: 0;
	margin: 0;
}

.ff_composer ul li {
	background: none;
	padding: 0 15px 0 0;
	margin: 0;
	float: left;
}

label[for=freeform_attending] {
	display: none;
}

/* end from template */
.rsvp_banner {
	margin-bottom: 40px;
}

p.rsvp_color_text {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
}

p.rsvp_color_text .orange {
	color: #fa4c07;
}

p.rsvp_color_text .grey {
	color: #666;
}

.rsvp_date_time {
	color: #999;
	font-weight: 400;
	font-size: 20px;
}

.rsvp_date_time .bull {
	margin: auto 20px;
	font-size: 16px;
}

.rsvp_location {
	font-size: 16px;
	font-weight: 300;
}

.rsvp_info_wrap {
	border: 1px dashed #999;
	border-width: 1px 0;
	padding: 20px 0;
	margin-bottom: 30px;
	position: relative;
	letter-spacing: -0.03em;
}

.rsvp_info_wrap p {
	margin-bottom: 0;
	font-size: 1em;
}

.rsvp_title {
	font-style: italic;
	color: #fa4c07;
	font-size: 42px;
	font-weight: 400;
	line-height: 1.6;
}

.rsvp_buttons {
	position: absolute;
	right: 0;
	bottom: 40px;
}

.rsvp_buttons a {
	background: #383838;
	border: none;
	color: #FFF;
	padding: 13px 20px;
	font-size: 11px;
	margin-left: 9px;
	border-radius: 9px;
	text-transform: uppercase;
	display: inline-block;
}

.rsvp_buttons a:hover, .rsvp_buttons a:focus {
	text-decoration: none;
	background: #ff4c00;
	color: #FFF;
}

.map {
	width: 100%;
	height: 396px;
	background: url(../images/map.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	margin-bottom: 50px;
}

.map .wrapper {
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	background: #303030;
	top: 50px;
	border-radius: 8px;
	padding: 20px 0;
}

.map .wrapper:before {
	position: absolute;
	background: url(../images/wrapper-x.png) no-repeat;
	width: 29px;
	height: 25px;
	left: 50%;
	margin-left: -14.5px;
	top: 180px;
	z-index: 1;
	content: "";
}

.map .wrapper:after {
	position: absolute;
	background: url(../images/wrapper-arrow.png) no-repeat;
	width: 21px;
	height: 11px;
	left: 50%;
	margin-left: -10.5px;
	top: 165px;
	z-index: 2;
	content: "";
}

.map .wrapper p.phone {
	position: absolute;
	top: -40px;
	height: 30px;
	background: #ff4c00;
	padding: 10px;
	width: 330px;
	border-radius: 8px 8px 0 0;
	line-height: 40px;
	font-size: 20px;
	text-transform: uppercase;
}

.map .wrapper p.phone a {
	color: #ffffff;
	display: block;
	float: left;
	margin-top: -3px;
}

.map .wrapper p.phone img {
	margin-right: 5px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 85px;
}

.map .wrapper p.orange, .map .wrapper address, .map .wrapper a.directions {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.map .wrapper p.orange {
	color: #ff4c00;
	font-size: 36px;
	margin-bottom: 0;
	line-height: 1;
}

.map .wrapper address {
	color: #ffffff;
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
}

.map .wrapper a.directions {
	display: block;
	color: #ffce68;
	margin-top: 10px;
	font-size: 12px;
}

.rsvp-contain {
	margin: 0;
	padding: 0 20px !important;
	max-width: 960px !important;
}

.rsvp-form input[type="text"], .rsvp-form input[type="email"], .rsvp-form input[type="phone"], .rsvp-form textarea {
	padding: 20px 20px;
	height: auto;
	background: #303030;
	border-radius: 6px;
	border: 0;
	color: #949493;
	font-size: 20px;
	width: 92%;
}

.rsvp-form input[type="submit"] {
	padding: 15px 25px;
	background: #ff4c00;
	text-align: center;
	border: 0;
	border-radius: 6px;
	color: #ffffff !important;
	text-transform: uppercase;
	font-size: 18px;
	margin: 30px auto;
	display: block;
	-webkit-transition: background, 0.3s;
	transition: background, 0.3s;
	min-width: 350px;
	float: left;
}

@media screen and (max-width: 960px) {
	.rsvp_buttons {
		position: relative;
		right: auto;
		bottom: auto;
		margin-top: 20px;
	}
	.rsvp_buttons a {
		margin-left: 0;
		margin-right: 9px;
	}
}

@media screen and (max-width: 640px) {
	p.rsvp_color_text {
		font-size: 24px;
	}
	.rsvp_title {
		font-size: 30px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	.rsvp_info_wrap {
		letter-spacing: 0;
	}
	.rsvp_info_wrap p {
		line-height: 1.2;
	}
	.rsvp_date_time {
		font-size: 18px;
		display: block;
		margin-bottom: 10px;
	}
	.rsvp_date_time .bull {
		display: block;
		height: 1px;
		visibility: hidden;
	}
	.rsvp_buttons a {
		display: block;
		margin: 10px 0;
		text-align: center;
		font-size: 14px;
	}
	input[type="radio"], input[type="checkbox"] {
		height: auto;
	}
	.rsvp-form input[type="submit"] {
		min-width: 1px;
		display: block;
		width: 100%;
		float: none;
		max-width: 100%;
	}
	.ff_composer ul li {
		padding-right: 0;
		float: none;
	}
	.map {
		background: none;
		margin-bottom: 0;
		height: auto;
	}
	.map .contain {
		padding: 0;
	}
	.map .wrapper {
		width: auto;
		margin: 0 10px 10px;
		position: relative;
		top: auto;
		left: auto;
		padding: 0 0 20px;
	}
	.map .wrapper:before, .map .wrapper:after {
		display: none;
	}
	.map .wrapper p.phone {
		width: 100%;
		position: relative;
		top: auto;
		padding: 10px 0;
	}
}
